<!--
<h1>Admin Register</h1>
<form method="post">
  <p>Username<br>
  <input type="text" name="username"></p>
  <p>Password<br>
  <input type="password" name="password"></p>
  <p><input type="submit"></p>
</form>
<a href="/login">Login</a>
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/login.css">
</head>
 <!-- 
<form method="post">
  <p>Username<br>
  <input type="text" name="username"></p>
  <p>Password<br>
  <input type="password" name="password"></p>
  <p><input type="submit"></p>
  <a href="/register">Register</a>
</form>
-->

<div class="login-page">
  <div class="form">
    <form method = "post" class="login-form">
      <input type="text" name = "username" placeholder="username"/>
      <input type="password" name = "password" placeholder="password"/>
      <button>Create New Account</button>
      <p class="message">Please Register Above</p>
      <p class="message">Already Registered? <a href="/login">Click here to login</a></p>
    </form>
  </div>
</div>
</html>
